@sand: #f9f7f2;
@white: #ffffff;
@black: #000000;
@light-black: #212121;
@decorative-gray: #ebe9e4;
@base-gray: #ececec;
@secondary-gray: #9d9d9d;
@accent-gray: #a3a2a2;
@red: #ff4641;
@dark-red: #bf0601;
@orange: #fc4f1e;
@light-gold: #f1ebdb;
@gold: #F5C723;
@dark-gold: #F5A623;
